<apex:page standardController="Account">
 
        <apex:pageBlock title="Congratulations {!$User.FirstName}">
            <apex:enhancedList type="Contact" height="300" rowsPerPage="10" id="ContactList" />

            You belong to Account Name: <apex:outputField value="{!account.name}"/>
            
        </apex:pageBlock>
   
</apex:page>